<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css" type="text/css">
    <link rel="stylesheet" href="/manage/style.css" type="text/css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon"> 
    <title>Painel - Arsenal</title>
</head>
<body>
    <div id="alert"></div>

    <header>
        <nav class="navbar navbar-light nav-bg">
        <div class="container-fluid">
            <img src="../forum-page/images/logo-Arsenal.png" alt="" width="160" id="logo">
            <div class="d-flex">
                <ul class="me-auto final">
                                  
                    <li class="nav-item">
                        <form method="post" action="logout" >
                            <input type="submit" value="Sair"  class="links logout">
                        </form>                           
                    </li>        
                </ul>
            </div>
        </div>
        </nav>
    </header>
    <div class="question mt-5">
        <p>Painel de Controle</p>
</div>
   
    <div class="container wrap text-center">
        <div class="d-flex flex-wrap justify-content-center">
            <div class="m-2 item new-question">
                <div>
                    <img src="/manage/images/add.png" alt="Ilustração adicionar">
                    <p class="label">Adicionar perguntas</p>
                </div>
            </div>
            <div class="m-2 item edit-question">
                <div>
                    <img src="/manage/images/edit.png" alt="Ilustração Editar">
                    <p class="label">Editar perguntas</p>
                </div>
            </div>
            <div class="m-2 item users">
                <div>
                    <img src="/manage/images/users.png" alt="Gráficos">
                    <p class="label">Gerenciar usuários</p>
                </div>
            </div>       
        </div>             
    </div>     
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/manage/script.js" type="text/javascript"></script>
    <script src="../script-alert/script.js" type="text/javascript"></script>
</body>
</html>